<div
  class="page-header section-dark"
  style="
    background-image: url('https://media.discordapp.net/attachments/776080923036614686/779968916868300820/blake-connally-IKUYGCFmfw4-unsplash.jpg?width=1016&height=677');
  "
>
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
      <div class="title-brand">
        <div class="angular-logo">
          <img src="../../../assets/img/logo.svg" />
        </div>
        <h1 class="presentation-title">UnJumble</h1>
        <div class="fog-low">
          <img src="assets/img/fog-low.png" alt="" />
        </div>
        <div class="fog-low right">
          <img src="assets/img/fog-low.png" alt="" />
        </div>
      </div>

      <h2 class="presentation-subtitle text-center">
        All essencials at one place
      </h2>
      <div class="redirectButtons d-flex justify-content-center mt-3">
        <a routerLink="/login" class="btn btn-outline-success w-25">Login</a>
        <a routerLink="/register" class="btn btn-outline-success w-25"
          >Register</a
        >
      </div>
    </div>
  </div>
  <div
    class="moving-clouds"
    style="background-image: url('assets/img/clouds.png')"
  ></div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info d-flex align-items-center flex-column">
            <div class="icon icon-danger">
              <img
                class="icon"
                src="https://images-ext-2.discordapp.net/external/-hYm0WAKYsiOPcE0i3B4jjIS0XHrK4GpXyO3-aY-Uls/%3Fsize%3D1200x630f%26pad%3D10%2C10%2C10%2C10%26ext%3Dpng%26bg%3DFFFFFFFF/https/img.flaticon.com/icons/png/512/2693/2693507.png"
              />
            </div>
            <div class="description">
              <h4 class="info-title">Beautiful Calendar</h4>
              <p class="description">
                Calendar: Organize yourself and schedule your activities.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info d-flex align-items-center flex-column">
            <div class="icon icon-danger">
              <img
                src="https://images-ext-2.discordapp.net/external/QZpsHhfStolt5iEACck-ZIo5qoF0SYSJTkeInfKiMag/%3Fsize%3D1200x630f%26pad%3D10%2C10%2C10%2C10%26ext%3Dpng%26bg%3DFFFFFFFF/https/img.flaticon.com/icons/png/512/2111/2111690.png"
                class="icon"
              />
            </div>
            <div class="description">
              <h4 class="info-title">Issue support</h4>
              <p>
                Issue base: Ask your coworkers for help. Documentation: Acces to
                project documentation at all times.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info d-flex align-items-center flex-column">
            <div class="icon icon-danger">
              <img
                src="https://images-ext-1.discordapp.net/external/7InJtFcbAdfPizIkw14Uds36XB80aEjKQnQix0X0PiQ/%3Fsize%3D1200x630f%26pad%3D10%2C10%2C10%2C10%26ext%3Dpng%26bg%3DFFFFFFFF/https/img.flaticon.com/icons/png/512/953/953810.png"
                class="icon"
              />
            </div>
            <div class="description">
              <h4 class="info-title">Chat</h4>
              <p>
                Chat: Stay in touch with your coworkers during leisure time.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info d-flex align-items-center flex-column">
            <div class="icon icon-danger">
              <img
                src="https://images-ext-2.discordapp.net/external/ZpeId1_MCWYi4D5t77bNjkDa7v70cZT3QWVhAlrwnsE/%3Fsize%3D1200x630f%26pad%3D10%2C10%2C10%2C10%26ext%3Dpng%26bg%3DFFFFFFFF/https/img.flaticon.com/icons/png/512/2781/2781997.png"
                class="icon"
              />
            </div>
            <div class="description">
              <h4 class="info-title">Dashboard</h4>
              <p>Stay informed and in sync with your coworkers' activities.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
